.news{
    background: #F23557;
    color: white;
    padding: 5% 0;
}
  
.newsletter{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.news-text{
    width: 50%;
}
  
.news-text h2, .news-text p{
    margin: 0;
}
  
.news-form{
    width: 40%;
}
  
.news-form form{
    width: 100%;
}
  
.news-form form input{
    width: 60%;
}
  
.news-form form button{
    width: 20%;
}