.cart{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.cart-item, .cart-total{
    background-color: #ffffff;
    padding: 2% 5%;
}

.cart-item{
    width: 45%;
}

.cart-total{
    width: 30%;
}

